.list {
  display: flex;
  flex-direction: column;
  outline: none;
  box-sizing: border-box;
  max-width: max(
    var(--radix-dropdown-menu-trigger-width),
    var(--TEMP-sl-menu-size-width-max-width, 25rem)
  );
  min-width: var(--radix-dropdown-menu-trigger-width);
  padding: var(--TEMP-sl-menu-padding-default, 0.5rem);
  /* DENIS MISSED */
  max-height: var(--TEMP-select-menu-list-size-max-height, 20rem);
  /* DENIS MISSED */
  gap: var(--TEMP-select-menu-list-gap-default, 0.5rem);
  border-radius: var(--TEMP-sl-menu-border-radius-default, 0.75rem);
  background: var(--TEMP-sl-menu-background-color-default, #fff);
  box-shadow: var(--TEMP-core-shadow-default-position-x, 0)
    var(--TEMP-core-shadow-default-position-y, 1px) var(--TEMP-core-shadow-default-blur, 40px)
    var(--TEMP-core-shadow-default-spread, 0)
    var(--TEMP-core-shadow-default-color, rgba(33, 33, 41, 0.25));
}
