/* Button-specific styles - inherits from BaseButton */
.icon {
  width: var(--em-primary-btn-icon-size-width, 1rem);
  height: var(--em-primary-btn-icon-size-height, 1rem);
}

.buttonText {
  padding: 0 var(--em-primary-btn-label-padding-default, 0.5rem);
}

.buttonTextMedium {
  /* TODO: on specify font family ticket */
  /* font-family: var(--em-primary-btn-label-font-default-font-family, Inter); */
  font-size: var(--em-primary-btn-label-font-default-size, 0.875rem);
  font-style: normal;
  font-weight: var(--em-primary-btn-label-font-default-weight, 700);
  line-height: var(--em-primary-btn-label-font-default-line-height, 1rem); /* 114.286% */
}

.buttonTextSmall {
  /* TODO: on specify font family ticket */
  /* font-family: var(--em-primary-btn-label-font-default-font-family, Inter); */
  font-size: var(--em-primary-btn-label-font-small-size, 0.75rem);
  font-style: normal;
  font-weight: var(--em-primary-btn-label-font-small-weight, 500);
  line-height: var(--em-primary-btn-label-font-small-line-height, 0.875rem);
}
