.tooltipContent {
  text-align: center;
  font-style: normal;
  text-align: left;

  padding: var(--em-tooltip-padding-top-bottom, 0.375rem)
    var(--em-tooltip-padding-left-right, 0.5rem);
  border-radius: var(--em-tooltip-border-radius, 0.375rem);
  background: var(--em-tooltip-background, #212129);
  color: var(--em-tooltip-color, #fff);
  font-family: var(--em-tooltip-font-family, sans-serif);
  font-size: var(--em-tooltip-font-size, 0.75rem);
  font-weight: var(--em-tooltip-font-weight, 700);
  line-height: var(--em-tooltip-line-height, 0.875rem);
  max-width: var(--em-tooltip-max-width, 16rem);
}
