.category {
  display: flex;
  padding: var(--em-select-list-item-isolate-padding-default, 4px);
  flex: 1 0 0;
  border-radius: var(--em-select-list-item-isolate-border-radius-default, 2px);
  background: var(--em-select-list-item-isolate-background-color-default, #ededf1);
}

.categoryLabel {
  color: var(--em-select-list-item-isolate-label-color-default, #212129);
  font-family: var(--em-select-list-item-isolate-label-font-font-family, Inter);
  font-size: var(--em-select-list-item-isolate-label-font-size, 12px);
  font-weight: var(--em-select-list-item-isolate-label-font-weight, 500);
  line-height: var(--em-select-list-item-isolate-label-font-line-height, 16px);
}
