.tableContainer {
  background: var(--em-table-background-color-default-header, #fff);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;

  border: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  border-radius: var(--em-table-border-radius-default, 0.75rem);
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-spacing: 0;
  background: var(--em-table-background-color-default-header, #fff);
  box-sizing: content-box;
}

/* measure values right align */
.table tbody td:not(:first-of-type),
.table tfoot td:not(:first-of-type) {
  text-align: right;
}

/* footer row */
.table tfoot:last-of-type tr {
  position: sticky;
  bottom: 0;
  z-index: 1;
  pointer-events: none;

  td {
    border-top: var(--em-table-border-width-default, 1px) solid #5c5c66;
    border-bottom: unset;
    font-weight: bold;
  }
}

/* remove bottom border from last body row  */
.table tbody tr:last-of-type td {
  border-bottom: unset;
}

/* header */
.table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

/* 1st column */
.table thead tr th:first-of-type,
.table tbody tr td:first-of-type,
.table tfoot tr td:first-of-type {
  position: sticky;
  left: 0;
  z-index: 1;
  pointer-events: none;
  border-right: var(--em-table-border-width-default, 1px) solid #5c5c66;
}

.table thead tr th:last-of-type,
.table tbody tr td:last-of-type,
.table tfoot tr td:last-of-type {
  border-right: unset;
}

.cell {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--em-table-size-cell-height_R, 2.5rem);
  max-height: var(--em-table-size-cell-height_R, 2.5rem);
  min-width: var(--em-table-size-min-width_R, 3rem);
  padding: var(--em-table-padding-medium_R, 0.5rem);
  border-bottom: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  border-right: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  background: var(--em-table-background-color-default-header, #fff);
  width: 100px;
  max-width: 100px;
  min-width: 100px;

  p {
    font-family: var(--em-table-font-family, Inter, sans-serif);
    font-size: var(--em-table-font-size, 0.75rem);
    font-weight: var(--em-table-font-font-weight-regular, 400);
    font-style: normal;
    line-height: var(--em-table-font-line-height, 0.875rem);
    color: var(--em-table-text-default, #212129);
  }
}

.cell.muted p {
  color: var(--em-table-text-muted, #5c5c66);
}

.cell.header p {
  color: var(--em-table-text-default, #212129);
  font-weight: var(--em-table-font-font-weight-medium, 500);
}

.cell.bold p {
  font-weight: var(--em-table-font-font-weight-medium, 700);
}
