.tableContainer {
  background: var(--em-table-background-color-default-header, #fff);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;

  border: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  border-radius: var(--em-table-border-radius-default, 0.75rem);
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-spacing: 0;
  background: var(--em-table-background-color-default-header, #fff);
  box-sizing: content-box;
}

.table th,
.table td {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--em-table-size-cell-height_R, 2.5rem);
  max-height: var(--em-table-size-cell-height_R, 2.5rem);
  min-width: var(--em-table-size-min-width_R, 3rem);
  padding: var(--em-table-padding-medium_R, 0.5rem);
  border-bottom: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  border-right: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  background: var(--em-table-background-color-default-header, #fff);

  p {
    padding: 0 var(--em-table-padding-small, 0.25rem);
  }
}

/* measure values right align */
.table tbody td:not(:first-of-type),
.table tfoot td:not(:first-of-type) {
  text-align: right;
}

/* total column row values */
.table td.columnTotals {
  font-weight: bold;
  background-color: goldenrod;
}

/* footer row */
.table tfoot:last-of-type tr {
  position: sticky;
  bottom: 0;
  z-index: 1;
  pointer-events: none;

  td {
    border-top: var(--em-table-border-width-default, 1px) solid
      var(--em-table-border-color-default, #ededf1);
    border-top: var(--em-table-border-width-default, 1px) solid
      var(--em-table-border-color-default, #ededf1);
    border-bottom: unset;
    font-weight: bold;
  }
}

/* remove bottom border from last body row  */
.table tbody tr:last-of-type td {
  border-bottom: unset;
}

/* header */
.table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  pointer-events: none;

  tr th {
    background: whitesmoke;
  }
}

/* 1st column */
.table thead tr th:first-of-type,
.table tbody tr td:first-of-type,
.table tfoot tr td:first-of-type {
  position: sticky;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: whitesmoke;
}

/* total cell */
.table thead tr th.total,
.table tbody tr td.total,
.table tfoot tr td.total {
  background: lightgrey;
  font-weight: bold;
}

/* total total cell */
.table thead tr th.totalTotal,
.table tbody tr td.totalTotal,
.table tfoot tr td.totalTotal {
  background: grey;
  font-weight: bold;
}
