.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--em-sl-menu-padding-default, 0.75rem);
  border-radius: var(--em-sl-menu-border-radius-default, 0.5rem);
  border: var(--em-sl-menu-border-width-default, 1px) solid
    var(--em-sl-menu-border-color-default, #d2d2d5);
  background: var(--em-sl-menu-background-color-default, #fff);
  cursor: pointer;
  color: var(--em-sl-menu-label-text-default, #212129);
  height: var(--em-sl-menu-size-height-default, 2.5rem);
  max-height: var(--em-sl-menu-size-height-default, 2.5rem);
  /* DENIS MISSED */
  min-width: var(--em-select-menu-size-width-min-width, 4rem);
  width: 100%;
  outline: none;
}

.button .rightContent {
  flex-shrink: 0;
}

.button .leftContent {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button .leftContent span {
  text-align: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* DENIS MISSED */
  font-family: Inter;
  padding: 0 var(--em-sl-item-label-padding-default, 0.5rem);
  font-size: var(--em-sl-item-left-label-font-size, 0.75rem);
  font-style: normal;
  font-weight: var(--em-sl-item-left-label-font-weight, 500);
  line-height: var(--em-sl-item-left-label-font-line-height, 0.875rem);
}

.button:hover,
.button:focus {
  background: var(--em-sl-menu-background-color-hover, #f7f7f8);
}

.button:active {
  background: var(--em-sl-menu-background-color-pressed, #ededf1);
}

.button.hasValue {
  background: var(--em-sl-menu-background-color-selected, #212129);
  color: var(--em-btn-pr-text-default, #fff);
}

.button:disabled {
  background: var(--em-sl-menu-background-color-disabled, #fff);
  color: var(--em-btn-pr-text-disabled, #b8b8bd);
  cursor: unset;
}

.button span svg {
  width: var(--em-sl-menu-icon-size-width, 1rem);
  height: var(--em-sl-menu-icon-size-height, 1rem);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: spin 1s linear infinite;
}

.buttonError {
  border: var(--em-text-input-border-width-error, 2px) solid
    var(--em-status-negative-foreground, #bc1010);
}
