node_modules
dist

# embeddable
.embeddable
.embeddable-build
.embeddable-dev-build
.embeddable-dev-tmp
.embeddable-tmp

# testing
/coverage

*storybook.log
storybook-static

.DS_Store

embeddable.config.js
.cursorindexingignore

