.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--TEMP-card-gap-default, 2rem);
  padding: var(--TEMP-card-padding-default, 2rem);
  border-radius: var(--TEMP-card-border-radius-default, 2rem);
  background: var(--TEMP-background-color-default, #f7f7f8);
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.header {
  width: 100%;
  display: flex;
  gap: var(--TEMP-card-title-padding-default, 1rem);
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: var(--TEMP-card-title-padding-default, 1rem);
  width: 100%;
}

.title {
  color: var(--TEMP-card-title-color-default, #212129);
  font-size: var(--TEMP-card-title-font-size, 1.25rem);
  font-style: normal;
  font-weight: var(--TEMP-card-title-font-weight, 700);
  line-height: var(--TEMP-card-title-font-line-height, 1.1875rem);
  overflow-wrap: break-word;
}

.subtitle {
  color: var(--TEMP-foreground-color-muted, #5c5c66);
  font-family: var(--TEMP-card-subtitle-font-font-family, Inter);
  font-size: var(--TEMP-card-subtitle-font-size, 0.875rem);
  font-style: normal;
  font-weight: var(--TEMP-card-subtitle-font-weight, 400);
  line-height: var(--TEMP-card-subtitle-font-line-height, 0.875rem);
  overflow-wrap: break-word;
}
