.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--TEMP-empty-state-padding-default, 1rem);
  overflow: hidden;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--TEMP-empty-state-padding-default, 1rem);
  min-width: var(--TEMP-empty-state-skeleton-size-min-width, 8rem);
  max-width: var(--TEMP-empty-state-skeleton-size-max-width, 16rem);
  flex: 1;
  height: 100%;
}

.box {
  background-color: var(--TEMP-empty-state-background-color-default, #f7f7f8);
  border-radius: var(--TEMP-card-border-radius-default, 2rem);
  opacity: var(--TEMP-empty-state-opacity-default, 0.6);
}

.short {
  width: 100%;
  aspect-ratio: 1;
  min-height: var(--TEMP-empty-state-skeleton-size-min-width, 8rem);
  max-height: var(--TEMP-empty-state-skeleton-size-max-width, 16rem);
  flex-shrink: 0;
}

.tall {
  width: 100%;
  flex: 1;
  min-height: var(--TEMP-empty-state-skeleton-size-min-width, 8rem);
}
