.errorMessage {
  color: var(--TEMP-text-input-label-color-error, #bc1010);
  font-family: var(--TEMP-text-input-label-font-font-family, Inter);
  font-size: var(--TEMP-text-input-label-font-size, 0.75rem);
  font-weight: var(--TEMP-text-input-label-font-weight-default, 500);
}
