.kpiChartChangeContainer {
  display: flex;
  align-items: center;
  gap: var(--TEMP-chart-grid-padding-default, 0.5rem);
  color: var(--TEMP-chart-grid-font-color-default, #000);
}

.kpiChartChangeContainer > p {
  font-size: 0.875em; /* 87.5% of --TEMP-kpi-trend-font-font-size */
  color: inherit;
}

.kpiChangeBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--TEMP-kpi-trend-padding-default, 0.25rem);
  border-radius: var(--TEMP-kpi-trend-border-radius-default, 0.375rem);
}

.kpiChangeBadge > svg {
  width: 1em; /* 100% of --TEMP-kpi-trend-font-font-size */
  height: 1em; /* 100% of --TEMP-kpi-trend-font-font-size */
}

.kpiChangeBadge > p {
  padding: 0 var(--TEMP-kpi-trend-padding-default, 0.25rem);
  /* TODO: implement on the font ticket */
  /* font-family: var(--TEMP-kpi-trend-font-font-family, Inter); */
  font-size: 1em; /* 100% of --TEMP-kpi-trend-font-font-size */
  font-style: normal;
  font-weight: var(--TEMP-kpi-trend-font-font-weight, 500);
  line-height: var(--TEMP-kpi-trend-font-line-height, 1rem);
}

.kpiChangeBadge.positive {
  background: var(--TEMP-kpi-trend-background-color-positive, #e1f0e9);
  color: var(--TEMP-kpi-trend-label-color-positive, #0f955a);
}

.kpiChangeBadge.negative {
  background: var(--TEMP-kpi-trend-background-color-negative, #f6e2e2);
  color: var(--TEMP-kpi-trend-label-color-negative, #bc1010);
}
