.kpiChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: var(--em-kpichart-gap, 1rem);
}

.kpiChartValueContainer {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* eslint-disable-next-line css/no-important */
  align-items: center !important;
  text-align: center;
}

.kpiChartValueContainer h2 {
  width: 100%;
  margin: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--em-kpichart-color, #212129);
  font-family: var(--em-kpichart-font-family, sans-serif);
  font-weight: var(--em-kpichart-number-font-weight, 700);
}

.kpiComparisonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-size: var(--em-kpichart-trend-font-size, 1rem);
}
