.list {
  width: auto;
}

.listIcon {
  display: inline-block;
  width: var(--em-selectfield-item-icon-size, 1rem);
  height: var(--em-selectfield-item-icon-size, 1rem);
  background: currentColor;
}
