.btn {
    align-items: center;
    align-items: center;
    background-color: var(--em-primary-btn-background-default);
    border-radius: var(--em-primary-btn-border-radius);
    border: var(--em-primary-btn-border);
    color: var(--em-primary-btn-text-default);
    cursor: pointer;
    display: flex;
    font-family: var(--em-font-default);
    font-size: var(--em-primary-btn-font-size);
    font-weight: var(--em-primary-btn-font-weight);
    padding: var(--em-primary-btn-padding);
    transition: background-color 0.2s ease;
    gap: var(--em-primary-btn-gap);
}

.icon {
    display: inline-block;
    flex-shrink: 0;
}

.buttonText {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }
  
  .btn:hover {
    background-color: var(--em-primary-btn-background-hover);
    color: var(--em-primary-btn-text-hover);
  }
  
  .btn:disabled {
    background-color: var(--em-primary-btn-background-disabled);
    color: var(--em-primary-btn-text-disabled);
    cursor: not-allowed;
  }
  
  .btn:pressed {
    background-color: var(--em-primary-btn-background-pressed);
    color: var(--em-primary-btn-text-pressed);
  }

  .fullWidth {
    width: 100%;
  }