/* TODO: REVIEW ALL CSS VARIABLE WITH DENIS AND COMPLETE THE MISSING ONES */
.pivotTableContainer {
  width: 100%;
  height: 100%;
}

.tableContainer {
  background: var(--em-table-background-color-default-header, #fff);
  width: fit-content;

  max-width: 100%;
  height: fit-content;
  max-height: 100%;

  border: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  border-radius: var(--em-table-border-radius-default, 0.75rem);
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;

  &.fullWidth {
    width: 100%;

    .table {
      width: 100%;
    }
  }
}

.table {
  border-spacing: 0;
  background: var(--em-table-background-color-default-header, #fff);
  box-sizing: content-box;
}

/* measure values right align */
.table tbody td,
.table tfoot td {
  text-align: right;
}

/* footer row */
.table tfoot:last-of-type tr {
  position: sticky;
  bottom: 0;
  z-index: 1;

  th,
  td {
    border-top: var(--em-table-border-width-default, 1px) solid
      var(--em-table-border-color-default, #ededf1);
    border-bottom: unset;
    font-weight: bold;
  }
}

/* remove bottom border from last body row  */
.table tbody tr:last-of-type th,
.table tbody tr:last-of-type td {
  border-bottom: unset;
}

/* header */
.table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* 1st column */
.table thead tr th:first-of-type,
.table tbody tr th:first-of-type,
.table tfoot tr th:first-of-type {
  position: sticky;
  left: 0;
  z-index: 1;
}

.table thead tr th:last-of-type,
.table tbody tr td:last-of-type,
.table tfoot tr td:last-of-type {
  border-right: unset;
}

.cell {
  box-sizing: border-box;
  cursor: pointer;
  height: var(--em-table-size-cell-height_R, 2.5rem);
  max-height: var(--em-table-size-cell-height_R, 2.5rem);
  padding: var(--em-table-padding-medium_R, 0.5rem);
  border-bottom: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  border-right: var(--em-table-border-width-default, 1px) solid
    var(--em-table-border-color-default, #ededf1);
  background: var(--em-table-background-color-default-header, #fff);

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--em-table-font-family, Inter, sans-serif);
    font-size: var(--em-table-font-size, 0.75rem);
    font-weight: var(--em-table-font-font-weight-regular, 400);
    font-style: normal;
    line-height: var(--em-table-font-line-height, 0.875rem);
    color: var(--em-table-text-default, #212129);
  }
}

.cell.header p {
  color: var(--em-table-text-default, #212129);
  font-weight: var(--em-table-font-font-weight-medium, 500);
}

.cell.bold p {
  font-weight: var(--em-table-font-font-weight-medium, 700);
}
