.title {
    color: var(--card-title-color);
    font-family: var(--card-title-family);
    font-size: var(--card-title-size);
    font-style: normal;
    font-weight: var(--card-title-weight);
    line-height: var(--card-title-line-height);
    text-align: var(--card-title-align);
    width: 100%;
}