.title {
    width: 100%;
    font-family: var(--card-title-family);
    color: var(--card-title-color);
    font-size: var(--card-title-size);
    font-style: normal;
    font-weight: var(--card-title-weight);
    line-height: var(--card-title-line-height);
}