.title {
    color: var(--em-card-title-color);
    font-family: var(--em-card-title-family);
    font-size: var(--em-card-title-size);
    font-style: normal;
    font-weight: var(--em-card-title-weight);
    line-height: var(--em-card-title-line-height);
    text-align: var(--em-card-title-align);
    width: 100%;
}