.iconButton {
  width: var(--TEMP-icon-btn-size-width, 1.25rem);
  height: var(--TEMP-icon-btn-size-height, 2rem);
  padding: var(--TEMP-icon-btn-padding-top, 0.5rem) var(--TEMP-icon-btn-padding-right, 0.125rem)
    var(--TEMP-icon-btn-padding-bottom, 0.5rem) var(--TEMP-icon-btn-padding-left, 0.125rem);
}
.icon {
  width: var(--TEMP-icon-btn-icon-size-width, 1rem);
  height: var(--TEMP-icon-btn-icon-size-height, 1rem);
}
