.colorInputContainer {
  display: flex;
  align-items: center;
  gap: var(--em-textfield-padding--space-100, 0.5rem);
}

.colorInput {
  cursor: pointer;
  height: var(--em-textfield-height, 2.5rem);
  width: var(--em-textfield-height, 2.5rem);
  gap: var(--em-textfield-padding--space-100, 0.5rem);
  padding: var(--em-textfield-padding, 0.5rem);
  border-radius: var(--em-textfield-border-radius, 0.5rem);
  border: var(--em-textfield-border-width, 1px) solid var(--em-textfield-border-color, #b8b8bd);
  background: var(--backdrop-elevation-0, #fff);
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput::-webkit-color-swatch {
  border: unset;
  border-radius: 50%;
}

.colorInput::-moz-color-swatch {
  border: unset;
  border-radius: 50%;
}
