.copyButton {
  position: absolute;
  top: 50%;
  right: var(--em-tablechart-cell-padding, 0.5rem);
  transform: translateY(-50%);
  opacity: 0;
}

.copyButton.leftAlign {
  left: var(--em-tablechart-cell-padding, 0.5rem);
  right: auto;
}

.tableBody td:hover .copyButton {
  opacity: 1;
}

.tableBody td {
  /* TODO: Get this fixed in Figma */
  max-width: var(--em-tablechart-cell-max-width, calc(3 * var(--em-core-size--2000)));
}
