.selectField {
  display: flex;
  flex-direction: column;
  gap: var(--em-form-padding-small, 0.5rem);
}

.errorMessage {
  padding-top: var(--em-form-padding-small, 0.5rem);
  display: flex;
  align-items: center;
  font-size: var(--em-form-form-font-font-size-required, 0.75rem);
  font-weight: var(--em-form-form-font-font-weight, 400);
  line-height: var(--em-form-form-font-line-height, 1rem);
  color: var(--em-text-input-label-color-error, rgb(208 49 9));
}

