.icon {
    display: flex;
    padding: var(--padding-2) var(--padding-0-5);
    align-items: center;
    gap: 8px;
    border-radius: var(--rounded-full);
    background: var(--background-light);
}

.icon:hover {
    background: var(--background-subtle);
}

.icon:pressed {
    background: var(--background-muted);
}