.chevron {
  width: var(--em-daterangepicker-chevron-size, 2rem);
  height: var(--em-daterangepicker-chevron-size, 2rem);
  padding: var(--em-daterangepicker-chevron-padding, 0.5rem);
  border-radius: var(--em-daterangepicker-chevron-border-radius, 0.5rem);
  background: var(--em-daterangepicker-chevron-background, #fff);
  color: var(--em-daterangepicker-chevron-color, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  cursor: pointer;
}
.chevron svg {
  flex-shrink: 0;
  width: var(--em-daterangepicker-chevron-icon-size, 1rem);
  height: var(--em-daterangepicker-chevron-icon-size, 1rem);
}

.chevron:hover {
  background: var(--em-daterangepicker-chevron--hover, #f7f7f8);
}

.chevron:active {
  background: var(--em-daterangepicker-chevron--active, #ededf1);
}
