.spinner {
	animation: spin 1s linear infinite;
	height: var(--em-card-spinner-width);
	width: var(--em-card-spinner-height);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
