.kpiChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.kpiChartContainer > p {
  width: 100%;
  font-size: 52px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  line-height: normal;

  color: var(--em-kpi-kpi-text, #212129);
  font-family: var(--em-kpi-kpi-font-family, Inter, sans-serif);
  font-weight: var(--em-kpi-kpi-font-weight, 700);
  font-size: var(--em-kpi-kpi-font-size, 2rem);
}

.kpiComparisonContainer {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* DENIS MISSED */
  padding: var(---em-chart-grid-padding-lg, 1rem) 0 0 0;
  font-size: var(--em-chart-grid-font-size-title, 0.875rem);
}

.kpiComparisonContainer > p {
  text-align: center;
  font-style: normal;
  font-size: 0.875em; /* 87.5% of --em-kpi-trend-font-font-size */
  /* DENIS MISSED */
  font-weight: var(em-kpi-trend-font-font-weight, 500);

  color: var(--em-chart-grid-text-default, #000);
  font-family: var(--em-chart-grid-font-family, Inter, sans-serif);
  font-size: var(--em-chart-grid-font-size-title, 0.875rem);
  font-weight: var(--em-chart-grid-font-weight-subtitle, 400);
  line-height: var(--em-chart-grid-font-line-height, 0.875rem);
}

.kpiChangeHidden {
  visibility: hidden;
}
