.kpiChartChangeContainer {
  display: flex;
  align-items: center;
  gap: var(--em-chart-grid-padding-200, 0.5rem);
  color: var(--em-chart-grid-text-default, #000);
}

.kpiChartChangeContainer > p {
  font-size: 0.875em; /* 87.5% of --em-kpi-trend-font-font-size */
  color: inherit;
}

.kpiChangeBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--em-kpi-trend-padding-default, 0.25rem);
  border-radius: var(--em-kpi-trend-border-radius-default, 0.375rem);
}

.kpiChangeBadge > svg {
  width: var(--em-kpi-trend-icon-size-width, 1rem);
  height: var(--em-kpi-trend-icon-size-height, 1rem);
}

.kpiChangeBadge > p {
  font-style: normal;
  padding: 0 var(--em-kpi-trend-padding-default, 0.25rem);
  font-family: var(--em-kpi-kpi-font-family, Inter, sans-serif);
  font-size: var(--em-kpi-trend-font-size, 1rem);
  font-weight: var(--em-kpi-trend-font-weight, 500);
  line-height: var(--em-kpi-trend-font-line-height, 1rem);
}

.kpiChangeBadge.positive {
  background: var(--em-kpi-trend-background-color-positive, #e1f0e9);
  color: var(--em-kpi-trend-label-text-positive, #0f955a);
}

.kpiChangeBadge.negative {
  background: var(--em-kpi-trend-background-color-negative, #f6e2e2);
  color: var(--em-kpi-trend-label-text-negative, #bc1010);
}
