.kpiChartChangeContainer {
  display: flex;
  align-items: center;
  gap: var(--em-chart-grid-padding-default, 0.5rem);
}

.kpiChangeBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--em-kpi-trend-padding-default, 0.25rem);
  border-radius: var(--em-kpi-trend-border-radius-default, 0.375rem);
}

.kpiChangeBadge > p {
  color: var(--em-chart-grid-font-color-default, #000);
  padding: 0 var(--em-kpi-trend-padding-default, 0.25rem);
  /* TODO: implement on the font ticket */
  /* font-family: var(--em-kpi-trend-font-font-family, Inter); */
  font-size: var(--em-kpi-trend-font-font-size, 1rem);
  font-style: normal;
  font-weight: var(--em-kpi-trend-font-font-weight, 500);
  line-height: var(--em-kpi-trend-font-line-height, 1rem);
}

.kpiChangeBadge.positive {
  background: var(--em-kpi-trend-background-color-positive, #e1f0e9);
  color: var(--em-kpi-trend-label-color-positive, #0f955a);
}

.kpiChangeBadge.negative {
  background: var(--em-kpi-trend-background-color-negative, #f6e2e2);
  color: var(--em-kpi-trend-label-color-negative, #bc1010);
}
