.ghostButton {
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--TEMP-ghost-btn-size-height, 1.25rem);
  padding: var(--TEMP-ghost-btn-padding-default, 0.125rem);
  flex-shrink: 0;
  background: transparent;
  color: var(--TEMP-ghost-btn-label-color-default, #212129);
  font-family: var(--TEMP-ghost-btn-label-font-default-font-family, Inter);
  font-size: var(--TEMP-ghost-btn-label-font-default-size, 0.75rem);
  font-style: normal;
  font-weight: var(--TEMP-ghost-btn-label-font-default-weight, 400);
  line-height: var(--TEMP-ghost-btn-label-font-default-line-height, 0.875rem);
}

.ghostButton:hover,
.ghostButton:focus {
  border-radius: var(--TEMP-border-radius-100, 0.25rem);
  background: var(--TEMP-ghost-btn-background-color-hover, #f7f7f8);
}

.ghostButton:active {
  border-radius: var(--TEMP-border-radius-100, 0.25rem);
  background: var(--TEMP-ghost-btn-background-color-pressed, #ededf1);
}

.ghostButton:disabled {
  cursor: unset;
  pointer-events: none;
  background: transparent;
  color: var(--TEMP-ghost-btn-label-color-disabled, #b8b8bd);
}

.icon {
  width: var(--TEMP-ghost-btn-icon-size-width, 0.75rem);
  height: var(--TEMP-ghost-btn-icon-size-height, 0.75rem);
}
.label {
  display: flex;
  padding: 0 var(--TEMP-ghost-btn-label-padding-default, 0.25rem);
  align-items: center;
}
