.tableContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--em-tablechart-header-background, #fff);
  border: var(--em-tablechart-border-width, 1px) solid var(--em-tablechart-border-color, #ededf1);
  border-radius: var(--em-tablechart-border-radius, 0.75rem);
}

.scrollX {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  cursor: pointer;
  box-sizing: border-box;
  background: var(--em-tablechart-header-background, #fff);
  padding: var(--em-tablechart-cell-padding, 0.5rem)
    calc(
      var(--em-tablechart-cell-padding, 0.5rem) + var(--em-tablechart-padding-left-right, 0.25rem)
    );
  border: var(--em-tablechart-border-width, 1px) solid var(--em-tablechart-border-color, #ededf1);
  height: var(--em-tablechart-cell-height, 2.5rem);
  max-height: var(--em-tablechart-cell-height, 2.5rem);
  min-width: var(--em-tablechart-cell-min-width, 3rem);
}

.table th:hover,
.table th:focus-within {
  background-color: var(--em-tablechart-cell-background--hover, #f7f7f8);
}

.table tr:has(td:hover) {
  background-color: var(--em-tablechart-cell-background--hover, #f7f7f8);
}

.table th:first-child,
.table td:first-child {
  border-left: none;
}
.table th:last-child,
.table td:last-child {
  border-right: none;
}
.table tr:first-child th,
.table tr:first-child td {
  border-top: none;
}
