.description {
    color: var(--em-card-subtitle-color);
    font-family: var(--em-card-subtitle-family);
    font-size: var(--em-card-subtitle-size);
    font-style: normal;
    font-weight: var(--em-card-subtitle-weight);
    line-height: var(--em-card-subtitle-line-height);
    text-align: var(--em-card-subtitle-align);
    width: 100%;
}
