.description {
    width: 100%;
    font-family: var(--card-subtitle-family);
    color: var(--card-subtitle-color);
    font-size: var(--card-subtitle-size);
    font-style: normal;
    font-weight: var(--card-subtitle-weight);
    line-height: var(--card-subtitle-line-height);
}
