.tableHead tr th {
  padding: unset;

  &.tableHeadIndex {
    position: sticky;
    left: 0;
    z-index: 1;
    pointer-events: none;

    min-width: var(--TEMP-table-size-min-width_R, 3rem);
    width: var(--TEMP-table-size-min-width_R, 3rem);
    background: var(--TEMP-table-background-color-default-header_R, #fff);

    button p {
      color: var(--TEMP-table-text-muted, #5c5c66);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: calc(-1 * var(--TEMP-table-border-width-default, 1px));
      width: var(--TEMP-table-border-width-default, 1px);
      background: var(--TEMP-table-border-color-default, #ededf1);
    }
  }

  .tableHeadCell {
    cursor: pointer;
    width: 100%;
    border: unset;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    padding: var(--TEMP-table-padding-medium_R, 0.5rem);

    svg {
      width: var(--TEMP-table-icon-size-width, 1rem);
      height: var(--TEMP-table-icon-size-height, 1rem);
    }

    p {
      white-space: nowrap;
      padding: 0 var(--TEMP-table-padding-small, 0.25rem);
      /* font-family: var(--TEMP-table-font-family, Inter); */
      color: var(--TEMP-table-text-default, #212129);
      font-size: var(--TEMP-table-font-size, 0.75rem);
      font-style: normal;
      font-weight: var(--TEMP-table-font-font-weight-medium, 500);
      line-height: var(--TEMP-table-font-line-height, 0.875rem);
    }
  }
}
