.header {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--card-header-gap);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--card-header-content-gap);
    flex: 1 0 0;
}