.input {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  height: var(--em-text-input-size-height, 2rem);
  max-width: var(--em-text-input-size-max-width, 25rem);
  padding: var(--em-text-input-padding-default, 0.5rem);
  border-radius: var(--em-text-input-border-radius-default, 0.5rem);
  border: var(--em-text-input-border-width-default, 1px) solid
    var(--em-text-input-border-color-default, #d2d2d5);
  background: var(--em-text-input-background-color-default, #f7f7f8);
  color: var(--em-text-input-label-color-filled, #212129);
}

.input:hover {
  background: var(--em-text-input-background-color-hover, #e4e4ea);
  color: var(--em-text-input-label-color-hover, #5c5c66);
}
.input:focus-within {
  background: var(--em-text-input-background-color-hover, #e4e4ea);
  color: var(--em-text-input-label-color-focused, #212129);
}

.input svg {
  width: var(--em-select-menu-icon-size-width, 1rem);
  height: var(--em-select-menu-icon-size-height, 1rem);
}

.input input {
  border: none;
  background: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: inherit;
  width: 100%;

  padding: 0 var(--em-text-input-padding-default, 0.5rem);
  font-family: var(--em-text-input-label-font-font-family, Inter);
  font-size: var(--em-text-input-label-font-size, 0.75rem);
  font-style: normal;
  font-weight: var(--em-text-input-label-font-weight, 500);
  line-height: var(--em-text-input-label-font-line-height, 0.875rem); /* 116.667% */
}

.input input:focus {
  color: var(--em-text-input-label-color-focused, #212129);
}

.input:has(input:disabled) {
  color: var(--em-text-input-label-color-disabled, #b8b8bd);
  border: var(--em-text-input-border-width-default, 1px) solid
    var(--em-text-input-border-color-default, #d2d2d5);
  background: var(--em-text-input-background-color-disabled, #fff);
}

.input input::placeholder {
  color: var(--em-text-input-label-color-default, #5c5c66);
}

.input input:disabled::placeholder {
  color: var(--em-text-input-label-color-disabled, #b8b8bd);
}

.input div {
  display: flex;
}

.clearIcon {
  cursor: pointer;
}
