.chartCard {
  height: 100%;
  width: 100%;
}

.fixedContent {
  z-index: 3;
  background: inherit;
  position: absolute;
  right: 0;
}

.fixedContent.loading {
  z-index: 4;
  display: block;
}

.fixedContent.hidden {
  display: none;
}

.chartCardRightContent {
  width: 2rem;
  height: 2rem;
  position: relative;
  align-self: flex-start;
}
