.chartCard {
  height: 100%;
  width: 100%;
}

.rightContent {
  position: relative;
  right: 0;
}

.fixedContent {
  z-index: 3;
  background: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixedContent.loading {
  z-index: 4;
  display: block;
}

.fixedContent.hidden {
  display: none;
}
