.chartCard {
  height: 100%;
  width: 100%;
}

.error svg,
.error h2,
.error p {
  color: var(--em-card-error-subtitle-color-default, #d03109);
}

.rightContent {
  position: relative;
  right: 0;
}

.fixedContent {
  z-index: 3;
  background: var(--em-background-color-default, #f7f7f8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixedContent.loading {
  z-index: 4;
  display: block;
}

.fixedContent.hidden {
  display: none;
}
