.switchLabel {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  .switchInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switchTrack {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: var(--TEMP-switch-size-width, 2rem);
    height: var(--TEMP-switch-size-height, 1rem);
    border-radius: var(--TEMP-border-radius-500, 624.9375rem);
    background: var(--TEMP-switch-background-color-off, #e4e4ea);
    transition: all 0.2s ease-in-out;
    vertical-align: middle;

    .switchThumb {
      position: absolute;
      top: 50%;
      left: var(--TEMP-switch-thumb-padding, 0.125rem);
      transform: translateY(-50%);
      background: var(--TEMP-switch-thumb-background-color, #ffffff);
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      box-shadow: var(--TEMP-switch-thumb-shadow, 0 2px 4px rgba(0, 0, 0, 0.1));
      width: var(--TEMP-switch-slider-size-width, 0.75rem);
      height: var(--TEMP-switch-slider-size-height, 0.75rem);
    }
  }

  /* Checked state */
  &.checked {
    .switchTrack {
      background: var(--TEMP-switch-background-color-on, #212129);
    }

    .switchThumb {
      left: calc(100% - var(--TEMP-switch-padding, 0.125rem));
      transform: translate(-100%, -50%);
    }
  }

  /* Disabled state */
  &.disabled {
    cursor: not-allowed;

    .switchTrack {
      background: var(--TEMP-switch-track-background-color-disabled, #f5f5f6);
      cursor: not-allowed;
    }

    .switchThumb {
      background: var(--TEMP-switch-thumb-background-color-disabled, #d2d2d5);
      box-shadow: none;
    }

    .labelText {
      color: var(--TEMP-switch-label-color-disabled, #b8b8bd);
      cursor: not-allowed;
    }
  }

  .labelText {
    /* TODO: To enable once we have a font family */
    /* font-family: var(--TEMP-form-section-font-font-family, Inter); */
    color: var(--TEMP-form-section-font-font-color, #212129);
    font-size: var(--TEMP-form-form-font-font-size-title, 0.875rem);
    font-style: normal;
    font-weight: var(--TEMP-form-form-font-font-weight, 400);
    line-height: var(--TEMP-form-form-font-line-height, 1rem);
    display: inline-block;
    vertical-align: middle;
    margin-left: var(--TEMP-form-padding-small, 0.5rem);
  }
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  .switchTrack,
  .switchThumb {
    transition: none;
  }
}
