.input {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  height: var(--em-text-input-size-height, 2rem);
  width: 100%;
  padding: var(--em-text-input-padding-default, 0.5rem);
  border-radius: var(--em-text-input-border-radius-default, 0.5rem);
  border: var(--em-text-input-border-width-default, 1px) solid
    var(--em-text-input-border-color-default, #d2d2d5);
  background: var(--em-text-input-background-color-default, #f7f7f8);
  /* DENIS MISSED */
  /* color: var(em-text-input-label-color-filled, #212129); */
}

.input:hover {
  background: var(--em-text-input-background-color-hover, #e4e4ea);
  color: var(--em-text-input-label-text-hover, #5c5c66);
}
.input:focus-within {
  background: var(--em-text-input-background-color-hover, #e4e4ea);
  color: var(--em-text-input-label-text-focused, #212129);
}

.input svg {
  width: var(--em-text-input-icon-size-width, 1rem);
  height: var(--em-text-input-icon-size-height, 1rem);
}

.input input {
  border: none;
  background: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: inherit;
  font-style: normal;
  width: 100%;

  padding: 0 var(--em-text-input-padding-default, 0.5rem);
  font-family: var(--em-text-input-label-font-family, Inter, sans-serif);
  font-size: var(--em-text-input-label-font-size, 0.75rem);
  font-weight: var(--em-text-input-label-font-weight-default, 500);
  line-height: var(--em-text-input-label-font-line-height, 0.875rem);
}

.input input:focus {
  color: var(--em-text-input-label-text-focused, #212129);
}

.input:has(input:disabled) {
  /* DENIS MISSED */
  /* color: var(em-text-input-label-color-disabled, #b8b8bd); */
  border: var(--em-text-input-border-width-default, 1px) solid
    var(--em-text-input-border-color-default, #d2d2d5);
  background: var(--em-text-input-background-color-disabled, #fff);
}

.input input::placeholder {
  color: var(--em-text-input-label-text-default, #5c5c66);
}

.input input:disabled::placeholder {
  /* DENIS MISSED */
  /* color: var(em-text-input-label-color-disabled, #b8b8bd); */
}

.input div {
  display: flex;
}

.clearIcon {
  cursor: pointer;
}

.inputContainer {
  position: relative;
}

.requiredText {
  /* DENIS MISSED */
  gap: var(em-form-padding-small, 0.5rem);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--em-form-form-font-font-size-required, 0.75rem);
  font-weight: var(--em-form-form-font-font-weight, 400);
  line-height: var(--em-form-form-font-line-height, 1rem);
  color: var(--em-form-section-font-font-color, #212129);
  background: red;
}
