.modal {
  max-width: 30rem;
  width: 100%;
  height: 13.6875rem;
}

.actions {
  display: flex;
  gap: var(--em-form-padding-small, 0.5rem);
  justify-content: flex-end;
  padding-top: var(--em-card-padding-default);
  overflow: unset;
}
