.confirmCancelModal {
  height: auto;
  width: auto;
}

.actions {
  display: flex;
  gap: var(--em-form-padding-small, 0.5rem);
  justify-content: flex-end;
  padding-top: var(--em-card-padding-default);
  overflow: unset;
}