.baseButton {
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.baseButton:disabled {
  cursor: unset;
  pointer-events: none;
}

.primary {
  background: var(--em-primary-btn-background-color-default, #5c5c66);
  color: var(--em-primary-btn-label-color-default, #fff);
  border-radius: var(--em-primary-btn-border-radius-default, 624.9375rem);
}

.primary:hover,
.primary:focus {
  background: var(--em-primary-btn-background-color-hover, #212129);
}

.primary:active {
  background: var(--em-primary-btn-background-color-pressed, #000);
}

.primary:disabled {
  background: var(--em-primary-btn-background-color-disabled, #ededf1);
  color: var(--em-primary-btn-label-color-disabled, #b8b8bd);
}
.secondary {
  background: var(--em-secondary-btn-background-color-default, #ededf1);
  color: var(--em-secondary-btn-label-color-default, #212129);
  border-radius: var(--em-primary-btn-border-radius-default, 624.9375rem);
}

.secondary:hover,
.secondary:focus {
  background: var(--em-secondary-btn-background-color-hover, #e4e4ea);
}

.secondary:active {
  background: var(--em-secondary-btn-background-color-pressed, #d2d2d5);
}

.secondary:disabled {
  background: var(--em-secondary-btn-background-color-disabled, #ededf1);
  color: var(--em-secondary-btn-label-color-disabled, #b8b8bd);
}

.ghost {
  height: var(--em-ghost-btn-size-height, 1.25rem);
  padding: var(--em-ghost-btn-padding-default, 0.125rem);
  flex-shrink: 0;
  background: transparent;
  color: var(--em-ghost-btn-label-color-default, #212129);
  font-family: var(--em-ghost-btn-label-font-default-font-family, Inter);
  font-size: var(--em-ghost-btn-label-font-default-size, 0.75rem);
  font-style: normal;
  font-weight: var(--em-ghost-btn-label-font-default-weight, 400);
  line-height: var(--em-ghost-btn-label-font-default-line-height, 0.875rem);
}

.ghost:hover,
.ghost:focus {
  border-radius: var(--em-border-radius-100, 0.25rem);
  background: var(--em-ghost-btn-background-color-hover, #f7f7f8);
}

.ghost:active {
  border-radius: var(--em-border-radius-100, 0.25rem);
  background: var(--em-ghost-btn-background-color-pressed, #ededf1);
}

.ghost:disabled {
  background: transparent;
  color: var(--em-ghost-btn-label-color-disabled, #b8b8bd);
}

/* Common icon styles */
.icon {
  width: var(--em-primary-btn-icon-size-width, 1rem);
  height: var(--em-primary-btn-icon-size-height, 1rem);
}
