.surface {
    align-items: center;
    background: var(--em-surface-background);
    border-radius: var(--em-surface-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: var(--em-surface-font-family);
    gap: var(--em-surface-gap);
    height: 100%;
    padding: var(--em-surface-padding);
    width: 100%;
}