.card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: var(--surface-padding);
    flex-direction: column;
    align-items: center;
    gap: var(--surface-gap);
    border-radius: var(--surface-radius);
    background: var(--surface-background);
}