.card {
  display: flex;
  /* TODO: add specifics */
  padding: var(--padding-8);
  border-radius: var(--rounded-3xl);
  background: var(--background-default);
  display: flex;
  flex-direction: column;
  position: relative;
  /* TODO: add specifics */
  gap: 2rem;
}

.loadingIcon {
  width: min-content;
  border-radius: var(--rounded-full);
  background: var(--background-default);
  padding: var(--padding-1);
  display: flex;
  position: absolute;
  top: var(--padding-4);
  right: var(--padding-4);
  visibility: hidden;
}

.loadingIcon.loadingIconVisible {
  visibility: visible;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon svg {
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 2s linear infinite;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  gap: var(--padding-4);
  width: 100%;
  justify-content: space-between;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4);
}

.title {
  color: var(--foreground-default);
  font-family: Inter;
  font-size: var(--font-size-default);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-height-lg);
}

.subtitle {
  color: var(--foreground-muted);
  font-family: Inter;
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--font-height-md);
}
