.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--em-card-gap-default, 2rem);
  padding: var(--em-card-padding-default, 2rem);
  border-radius: var(--em-card-border-radius-default, 2rem);
  background: var(--em-background-color-default, #f7f7f8);
}

.loadingIcon {
  width: min-content;
  display: flex;
  position: absolute;
  visibility: hidden;
  padding: var(--em-card-loader-padding-default, 0.25rem);
  top: calc(var(--em-card-padding-default, 2rem) / 2);
  right: calc(var(--em-card-padding-default, 2rem) / 2);
  border-radius: var(--em-card-loader-border-radius-default, 624.9375rem);
  background: var(--em-background-color-default, #f7f7f8);
}

.loadingIcon.loadingIconVisible {
  visibility: visible;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon svg {
  width: var(--em-card-loader-icon-size-width, 1.5rem);
  height: var(--em-card-loader-icon-size-height, 1.5rem);
  animation: spin 2s linear infinite;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.header {
  display: flex;
  gap: var(--em-card-title-padding-default, 1rem);
  width: 100%;
  justify-content: space-between;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  gap: var(--em-card-title-padding-default, 1rem);
}

.title {
  color: var(--em-card-title-color-default, #212129);
  font-size: var(--em-card-title-font-size, 1.25rem);
  font-weight: var(--em-card-title-font-weight, 700);
  line-height: var(--em-card-title-font-line-height, 1.1875rem);
}

.subtitle {
  color: var(--em-foreground-color-muted, #5c5c66);
  font-size: var(--em-card-subtitle-font-size, 0.875rem);
  font-weight: var(--em-card-subtitle-font-weight, 400);
  line-height: var(--em-card-subtitle-font-line-height, 0.875rem);
}
