.menu {
  position: absolute;
  top: var(--em-card-padding-default, 2rem);
  right: var(--em-card-padding-default, 2rem);
}

.error svg,
.error h1,
.error p {
  color: var(--em-card-error-subtitle-color-default, #d03109);
}
