.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    padding: var(--dropdown-padding);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--dropdown-gap);
    border-radius: var(--dropdown-border-radius);
    background: var(--dropdown-background);
    box-shadow: 0px 1px 40px 0px rgba(33, 33, 41, 0.25);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
    min-width: 100px;
    max-width: 256px;
    text-wrap: nowrap;
    color: var(--dropdown-color);
    max-height: var(--dropdown-max-height);
    overflow: auto;
}

.dropdownMenu.rightAligned {
    left: auto;
    right: 0;
}

.dropdownMenu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdownItem {
    align-items: center;
    border-radius: var(--li-radius);
    box-sizing: border-box;
    color: var(--li-label-color-default);
    cursor: pointer;
    display: flex;
    font: var(--li-label-family);
    font-size: var(--li-label-size);
    font-style: normal;
    font-weight: var(--li-label-weight);
    gap: var(--padding-2);
    height: var(--li-height);
    line-height: var(--li-label-line-height);
    padding: var(--li-padding);
    transition: background-color 0.2s ease;
    width: 100%;
}

.dropdownItem .itemText {
    flex: 1;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: var(--li-label-padding);
}

.dropdownItem:hover {
    background-color: var(--background-default);
    color: var(--li-label-color-default);
}

.dropdownItem:pressed {
    background-color: var(--background-light);
    color: var(--li-label-color-pressed);
}

.dropdownItemIcon {
    width: var(--li-icn-width);
    height: var(--li-icn-height);
}
