.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: var(--em-card-info-padding-default, 0.75rem);
}

.title {
  text-align: center;
  font-style: normal;
  /* DENIS MISSED */
  color: var(--em-card-empty-title-text-default, #212129);
  font-family: var(--em-card-info-font-family, Inter, sans-serif);
  font-size: var(--em-card-info-font-size, 0.875rem);
  font-style: normal;
  font-weight: var(--em-card-info-font-title-weight, 500);
  line-height: var(--em-card-info-font-line-height, 1rem);
}

.message {
  text-align: center;
  font-style: normal;
  color: var(--em-card-empty-subtitle-text-default, #5c5c66);
  font-size: var(--em-card-info-font-size, 0.875rem);
  font-weight: var(--em-card-info-font-subtitle-weight, 400);
  line-height: var(--em-card-info-font-line-height, 1rem);
  font-family: var(--em-card-info-font-family, Inter, sans-serif);
}
