.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: var(--TEMP-card-info-padding-default, 0.75rem);
}

.title {
  text-align: center;
  font-style: normal;
  /* DENIS DISCUSS */
  /* the name are weird and are inconsistent
  --TEMP-card-info-font-line-height
  --TEMP-card-info-font-title-weight */
  /* expected to see --TEMP-card-empty-title-font-color */
  /* expected to see --TEMP-card-empty-title-font-weight */
  /* expected to see --TEMP-card-empty-title-font-line-height */
  color: var(--TEMP-card-empty-title-text-default, #212129);
  font-family: var(--TEMP-card-info-font-family, Inter);
  font-size: var(--TEMP-card-info-font-size, 0.875rem);
  font-weight: var(--TEMP-card-info-font-title-weight, 500);
  line-height: var(--TEMP-card-info-font-line-height, 1rem); /* 114.286% */
}

.message {
  color: var(--TEMP-card-empty-subtitle-color-default, #5c5c66);
  text-align: center;
  font-size: var(--TEMP-card-empty-subtitle-font-size, 0.875rem);
  font-style: normal;
  font-weight: var(--TEMP-card-empty-subtitle-font-weight, 400);
  line-height: var(--TEMP-card-empty-subtitle-font-line-height, 1rem);
}
