@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  padding: var(--em-card-loader-padding, 0.25rem);
  width: var(--em-card-loader-size, 1.5rem);
  height: var(--em-card-loader-size, 1.5rem);
  animation: spin 2s linear infinite;
}
